.vscode
.vscode/settings.json
.vs
**/__pycache__/**

# Added to exclude files that exist because of Dev Container Development Environment
.storage/**
custom_components/hacs/**
custom_components/solcast_solar/**
custom_components/sew_usage/**
custom_components/polestar_api/**
custom_components/pyscript/**
custom_components/ocpp/**
custom_components/spook/**
custom_components/spook_inverse
.HA_VERSION
automations.yaml
configuration.yaml
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
scenes.yaml
scripts.yaml
secrets.yaml
solcast-sites.json
solcast-undampened.json
solcast-usage.json
solcast.json
blueprints/**
pyscript/**